/* Buttons */
.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  background-color: #222;
  color: #fff;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #444;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-outline:hover {
  background-color: #fff;
  color: #000;
}
